<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>	    
	    <ion-title>{{tipoModo | translate}}</ion-title>
	    	<ion-buttons end>
	    		<button ion-button (click)="closeModal()">{{'Voltar' | translate}}</button>
	    	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding [class.newBG]="state">

	<h3 text-center>{{'Valor da Venda' | translate}}: {{'R$' | translate}} {{valorAux.toFixed(2)}}</h3> 

<ion-card>
  <ion-card-header>
    <h2 text-center>{{'Vendedor' | translate}}</h2>
    <hr/>
  </ion-card-header>
	  <ion-card-content>
		   <h3>{{'Maquina Utilizada' | translate}}: {{tipoMaquina}}</h3>
		   <h3>{{'Prazo do Recebimento' | translate}}: {{tipoRecebimento}}</h3>
		   <h3>{{'Tarifa Venda' | translate}} = {{'R$' | translate}} {{totalImp.toFixed(2)}} ({{porcentagemVendedor.toFixed(2)}}%)</h3>
		   <h3>{{'Tarifa Parc.' | translate}}= {{'R$' | translate}} {{totalParcelamento.toFixed(2)}} ({{totalPorcentagemV.toFixed(2)}}%)</h3>
		   <h3>{{'Total Tarifas' | translate}} = {{'R$' | translate}} {{totalTaxas.toFixed(2)}} ({{totalPorVendedor.toFixed(2)}}%)</h3>
	  	 <h3>{{'Total a Receber' | translate}} = {{'R$' | translate}} {{total.toFixed(2)}}</h3>		
	  </ion-card-content>
 </ion-card>

<ion-card>
 <ion-card-header>
    <h2 text-center>{{'Cliente' | translate}}</h2>
    <hr/>
  </ion-card-header>
	  <ion-card-content>
		   <h3>{{'Método de Pagamento' | translate}}: {{tipoPagamento}}</h3>
		   <h3>{{'Parcelas' | translate}} = {{qtdParcelas}}x {{'R$' | translate}} {{valorParcela.toFixed(2)}}</h3>
		   <h3>{{'Tarifa Parc.' | translate}} = {{'R$' | translate}} {{taxaCliente.toFixed(2)}} ({{totalPorCliente}})%</h3>
	    <h3>{{'Total a Pagar' | translate}} = {{'R$' | translate}} {{totalCliente.toFixed(2)}} </h3>		
	  </ion-card-content>
 </ion-card>

<button ion-button full (click)="screenShot()" round>PRINT</button>

 

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
    	<button ion-button full (click)="ResultadoCartao()" round>{{'Detalhado' | translate}}</button>
    </ion-title>
  </ion-toolbar>
</ion-footer>