<!--
  Generated template for the ConfiguracaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'Configuracao' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


<ion-grid>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label fixed color="dark">{{'Debito' | translate}}</ion-label>
          <ion-input type="number" pattern="[0-9]*" [(ngModel)]="debito" value="2.29"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col text-center>{{'Credito a Vista' | translate}}</ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-4>
      <ion-label color="dark" text-center>{{'Hora' | translate}}</ion-label>
      <ion-list>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" [(ngModel)]="creditoHora" value="4.74"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col col-4>
      <ion-label color="dark" text-center>14</ion-label>
      <ion-list>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" [(ngModel)]="credito14" value="3.79"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
    
    <ion-col col-4>
      <ion-label color="dark" text-center>30</ion-label>
      <ion-list>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" [(ngModel)]="credito30" value="3.03"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>{{'Credito Parcelado' | translate}}</ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col col-4>
      <ion-label color="dark" text-center>{{'Hora' | translate}}</ion-label>
      <ion-list>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" [(ngModel)]="creditoParceladoHora" value="5.31"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col col-4>
      <ion-label color="dark" text-center>14</ion-label>
      <ion-list>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" [(ngModel)]="creditoParcelado14" value="4.36"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col col-4>
      <ion-label color="dark" text-center>30</ion-label>
      <ion-list>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" [(ngModel)]="creditoParcelado30" value="3.60"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-label color="dark" text-center>{{'Parcela' | translate}} 2</ion-label>
      <ion-list>
        <ion-item>
          <ion-input type="number" pattern="[0-9]*" [(ngModel)]="parcela2" value="4.09"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col>
      <ion-label color="dark" text-center>{{'Parcela' | translate}} 3</ion-label>
        <ion-list>
          <ion-item>
            <ion-input type="number" pattern="[0-9]*" [(ngModel)]="parcela3" value="5.41"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
  </ion-row>

      <ion-row>
        <ion-col>
          <ion-label color="dark" text-center>{{'Parcela' | translate}} 4</ion-label>
          <ion-list>
            <ion-item>
              <ion-input type="number" pattern="[0-9]*" [(ngModel)]="parcela4" value="6.70"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col>
          <ion-label color="dark" text-center>{{'Parcela' | translate}} 5</ion-label>
          <ion-list>
            <ion-item>
              <ion-input type="number" pattern="[0-9]*" [(ngModel)]="parcela5" value="7.96"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label color="dark" text-center>{{'Parcela' | translate}} 6</ion-label>
          <ion-list>
            <ion-item>
              <ion-input type="number" pattern="[0-9]*" [(ngModel)]="parcela6" value="9.20"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col>
          <ion-label color="dark" text-center>{{'Parcela' | translate}} 7</ion-label>
          <ion-list>
            <ion-item>
              <ion-input type="number" pattern="[0-9]*" [(ngModel)]="parcela7" value="10.41"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label color="dark" text-center>{{'Parcela' | translate}} 8</ion-label>
          <ion-list>
            <ion-item>
              <ion-input type="number" pattern="[0-9]*" [(ngModel)]="parcela8" value="11.61"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col>
          <ion-label color="dark" text-center>{{'Parcela' | translate}} 9</ion-label>
          <ion-list>
            <ion-item>
              <ion-input type="number" pattern="[0-9]*" [(ngModel)]="parcela9" value="12.78"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label color="dark" text-center>{{'Parcela' | translate}} 10</ion-label>
          <ion-list>
            <ion-item>
              <ion-input type="number" pattern="[0-9]*" [(ngModel)]="parcela10" value="13.92"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-label color="dark" text-center>{{'Parcela' | translate}} 11</ion-label>
          <ion-list>
            <ion-item>
              <ion-input type="number" pattern="[0-9]*" [(ngModel)]="parcela11" value="15.05"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label color="dark" text-center>{{'Parcela' | translate}} 12</ion-label>
          <ion-list>
            <ion-item>
              <ion-input type="number" pattern="[0-9]*" [(ngModel)]="parcela12" value="16.15"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

</ion-grid>

<button ion-button full (click)="valorConfiguracao(debito,creditoHora,credito14,credito30,creditoParceladoHora,creditoParcelado14, 
creditoParcelado30,parcela2, parcela3, parcela4, parcela5, parcela6, parcela7, parcela8, parcela9, parcela10, parcela11, parcela12)" round>{{'Salvar' | translate}}</button>

</ion-content>
