<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Ajuda' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<h3 text-center>{{'Ajuda' | translate}}</h3>

<p text-justify>{{'A Calc: Tarifas Mercado Pago contem um menu principal com opção de: Calc Tarifas Mercado Pago, Cadastrar Produto, Ajuda e Contato.' | translate}} </p>

<p text-justify>{{'Na opção Calc: Tarifas Mercado Pago, tem-se as opções de operaçao, digitar o valor, maquina, tipo de pagamento, prazo de recebimento, quantidade de parcelas e tipo de parcelamento.' | translate}} </p>

<p text-justify>{{'Ao clicar na opção de calcular, ira aparecer os resultados das informações, com opção de Print para salvar os resultados das informações, salvando automaticamente na galeria de imagens. ' | translate}} </p>

<p text-justify>{{'A opção Cadastrar Produto permite cadastrar e listar os produtos, com opções de data do cadastro, nome do produto e valor. A opção ajuda permite auxiliar o usuário na utilização do app.' | translate}}</p> 

<p text-justify>{{'A opção Contato, permite entrar em contato com os desenvolvedores do app para duvidas ou informações.' | translate}}</p>

<p text-justify>{{'OBS: Este aplicativo não tem vinculação alguma com a empresa Mercado Pago, apenas disponibilizados o app de acordo com as tarifas oferecidas pela empresa.' | translate}}</p>

</ion-content>
