<!--
  Generated template for the UpgradePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Upgrade!</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <button ion-button full (click)="funcaoAppPro()" round>Upgrade!</button>

</ion-content>
