<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <button menuClose ion-item (click)="nav.push(pages2.MercadoPagoPage)">
    <ion-icon name="md-calculator"></ion-icon>
    {{'Calc: Tarifas Mercado Pago' | translate}}
  </button>
  <button menuClose ion-item (click)="nav.push(pages2.CadastroPage)">
    <ion-icon name="md-add-circle"></ion-icon>
    {{'Cadastrar Produto' | translate}}
  </button>
  <button menuClose ion-item (click)="nav.push(pages2.ItemDetailsPage)">
    <ion-icon name="md-help-circle"></ion-icon>
    {{'Ajuda' | translate}}
  </button>
  <button menuClose ion-item (click)="nav.push(pages2.HelloIonicPage)">
    <ion-icon name="md-contact"></ion-icon>
    {{'Contato' | translate}}
  </button>
    <button menuClose ion-item (click)="nav.push(pages2.ConfiguracaoPage)">
      <ion-icon color="danger" name="construct"></ion-icon>
      {{'Configuracao' | translate}}
    </button>
  <button menuClose ion-item (click)="nav.push(pages2.UpgradePage)">
    <ion-icon color="star" name="star"></ion-icon>
    Upgrade
  </button>
</ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
