<!--
  Generated template for the MercadoPagoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Calc: Tarifas Mercado Pago' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

		<ion-fab bottom top right edge #fab>
				<button ion-fab><ion-icon name="md-more"></ion-icon></button>
				<ion-fab-list>
					<button ion-fab color="danger" (click)="traducao('en', fab)">EN</button>
					<button ion-fab class="colorYellow" (click)="traducao('es', fab)">ES</button>
					<button ion-fab color="secondary" (click)="traducao('pt', fab)">PT</button>
				</ion-fab-list>
			</ion-fab>

<ion-list>		
		 <ion-item>
		    <ion-label fixed color="dark">{{'Valor' | translate}}</ion-label>
		    <ion-input type="number" pattern="[0-9]*" [(ngModel)]="valorDig"></ion-input>
		</ion-item>
		
			<ion-item>
				<ion-label color="dark">{{'Maquina' | translate}}</ion-label>
				<ion-select [(ngModel)]="maquina" interface="action-sheet" cancelText="{{'Cancelar' | translate}}">
					<ion-option value="Point">Mercado Pago: Point</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label color="dark">{{'Pagamento' | translate}}</ion-label>
				<ion-select [(ngModel)]="pagamento" (ionChange)="onSelectChange($event)" interface="action-sheet" cancelText="{{'Cancelar' | translate}}">
						<ion-option value="Debito">{{'Debito' | translate}}</ion-option>
						<ion-option value="Credito">{{'Credito' | translate}}</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label color="dark">{{'Prazo de Recebimento' | translate }}</ion-label>
					<ion-select [(ngModel)]="recebimento" interface="action-sheet" cancelText="{{'Cancelar' | translate}}">
						<ion-option *ngFor="let objeto of objetos_pagamento" value="{{objeto.recebimento}}">{{objeto.recebimento |
							translate}}</ion-option>
					</ion-select>
			</ion-item>

				<ion-item>
					<ion-label color="dark">{{'Parcelas' | translate}}</ion-label>
					<ion-select [(ngModel)]="parcelas" interface="action-sheet" cancelText="{{'Cancelar' | translate}}">
						<ion-option *ngFor="let objeto of objeto_pag" value="{{objeto.parcelas}}">{{objeto.parcelas}}</ion-option>
					</ion-select>
				</ion-item>

</ion-list>
	
<ion-segment [(ngModel)]="relationship" color="primary">
    <ion-segment-button value="Taxas" (ionSelect)="taxas()">{{'Taxas' | translate}}</ion-segment-button>
    <ion-segment-button value="Reverso" (ionSelect)="reverso()">{{'Reverso' | translate}}</ion-segment-button>
</ion-segment>

<ion-card>
	<p text-center>Valor da Venda</p>

	<ion-grid>
		<ion-row>
			<ion-col>
				<p text-center>Cliente</p>
				<p text-center>R$ {{totalCliente}}</p>
			</ion-col>
			<ion-col>
				<p text-center>Vendedor</p>
				<p text-center>R$ {{total}}</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-card>




<ion-grid>
	<ion-row>
		<ion-col>
			<button ion-button value="Salvar" round>{{'Salvar' | translate}}</button>
		</ion-col>
		<ion-col>
			<button ion-button value="Detalhes" round>{{'Detalhes' | translate}}</button>
		</ion-col>
	</ion-row>
</ion-grid>

	
</ion-content>


