<!--
  Generated template for the AdicionaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'Adicionar Produto' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="saveData()">
    <ion-item>
      <ion-label>{{'Data de Cadastro' | translate}}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="data.date" name="date" required=""></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{'Nome' | translate}}</ion-label>
      <ion-input type="text" placeholder="{{'Nome' | translate}}" [(ngModel)]="data.nome" name="nome" required="" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'Valor' | translate}}</ion-label>
      <ion-input type="number" placeholder="{{'Valor' | translate}}" [(ngModel)]="data.valor" name="valor" required="" ></ion-input>
    </ion-item>
    <button ion-button type="submit" block>{{'Salvar' | translate}}</button>
  </form>

</ion-content>
